# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Environments
venv/
.venv/
.env
*.env

# IDEs
.vscode/
.idea/

# Cache / logs
*.log
*.pot
*.pyc
.mypy_cache/
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Coverage reports
htmlcov/
.coverage
.coverage.*
